*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/********************** 
TAG 
**********************/

/**********************
ID 
**********************/

/**********************
CLASSI 
**********************/

.bg_header{
    width: 100%;
    height: 80px;
    background-color: #e579e6;
}
.slider_container{
    width: 100%;
    height: 400px;
    background-color: #e1d67a;
}
.hero_section{
    width: 100%;
    height: 80px;
    background-color: #abcfe7;
}
.col-2{
    float: left;
    width: 20%;
    height: 400px;
    background-color: #abcfe7;
}
.col-6{
    float: left;
    width: 60%;
    height: 400px;
    background-color: #abcfe7;
    
}
.col-2.border{
    border: 10px solid #0086ff;
}
.col-6.border{
    border-top: 10px solid #0086ff;
    border-bottom: 10px solid #0086ff;
}
.bg_footer{
    width: 100%;
    height: 50px;
    background-color: #8801fe;
}

/* help */
.borderRed{
    border: 1px solid red;
}
.borderBlue{
    border: 1px solid blue;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}