*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/********************** 
TAG 
**********************/

/**********************
ID 
**********************/

/**********************
CLASSI 
**********************/

/* help */
.borderRed{
    border: 1px solid red;
}
.borderBlue{
    border: 1px solid blue;
}